* {
  box-sizing: border-box;
}

body {
  font-family: "Libre Baskerville", serif;
  font-weight: 120;
  letter-spacing: -0.8px;
  margin: 0;
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/mirrored-squares.png");
}

.folder-arrow {
  display: inline-block;
  transition: transform 0.3s ease;
}

.folder-contents.open ~ * .folder-arrow,
.folder.open .folder-arrow {
  transform: rotate(90deg);
}
.layout {
  display: flex;
  height: 100vh;
}
.folder-title {
  display: block;
  color: #d0d0d0;
  padding: 12px 10px;
  cursor: pointer;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.folder{
    font-size: 0.85rem;
}
.folder-contents {
  display: none;
  padding-left: 10px;
}
.folder-contents a{
    line-height: 1.8;
  padding: 8px 10px;
  
}

.folder-contents.open {
  display: block;
}


.sidebar:hover .folder-title {
  opacity: 1;
}

.sidebar a, .folder-title {
  overflow: hidden;
  text-overflow: ellipsis;
}


.sidebar {
  background-color: #0e0d0d;
  width: 2vw;
  transition: width 0.3s ease;
  position: absolute;
  height: 100vh;
  z-index: 10;
    overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
}

.sidebar:hover {
  width: 200px;
  
}

.sidebar a {
  display: block;
  text-decoration: none;
  color: #d0d0d0;
  padding: 10px;
  cursor: pointer;
  background-color: #2a2a2a;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 0.85rem;
}

.sidebar:hover a {
  opacity: 1;
  
}
.intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #e0e0e0;
}
.sidebar-indicator {
  font-size: 2rem;
  display: block;
  text-align: center;
  padding: 10px 0;
  transition: opacity 0.3s ease;
  background-color: #1e1e1e;
  color: #d0d0d0;
}

.sidebar:hover .sidebar-indicator {
  opacity: 0.5;
  
}

.main {
  flex: 1;
  color: #e0e0e0;
  overflow-y: scroll;
  scrollbar-width: none;
  background-color: transparent;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 20px;
}

.main h1 {
  text-align: center;
}

.main p {
  font-size: large;
}
.word-group {
  opacity: 0;
  animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
.spotify-wrapper {
  display: none;
    position: fixed;
  top: 20px;
  right: 20px;
  z-index: 100;
      scrollbar-width: none ;
}
.spotify-player{
    border-radius: 12px;

}
.hide-spotify {
  margin-top: 20px;
  background: transparent;
  border: 1px solid #d0d0d0;
  color: #d0d0d0;
  padding: 8px 16px;
  cursor: pointer;
  font-family: "Libre Baskerville", serif;
}
.hide-spotify-btn {
  display: block;
  text-align: center;
  color: #d0d0d0;
  font-size: 1.2rem;
  padding: 10px 0;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  white-space: nowrap;
    position: sticky;
  bottom: 20px;
  left: 0;
  width: 100%;
}

.sidebar:hover .hide-spotify-btn {
  opacity: 1;
}
